<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tkpd.devcamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="com.tkpd.devcamp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tkpd.devcamp.first_app.FirstActivity"
            android:exported="false"
            android:label="First App" />
        <activity
            android:name=".customview_bottomsheet.SecondActivity"
            android:exported="false"
            android:label="Second Activity"/>
        <activity
            android:name=".recycler_view.ThirdActivity"
            android:exported="false"
            android:label="Third Activity" />
        <activity
            android:name=".connect_to_internet.presentation.ForthActivity"
            android:exported="false"
            android:label="Forth Activity"/>
        <activity
            android:name=".viewmodel_livedata.FifthActivity"
            android:exported="true"
            android:label="Fifth Activity"/>
        <activity
            android:name=".practice_binding.SixthActivity"
            android:exported="false"
            android:label="View Binding + Swipe to Refresh"/>
        <activity
            android:name=".unit_test.SeventhActivity"
            android:exported="false"
            android:label="Seventh Activity"/>
    </application>
</manifest>